# MongoDB Configuration
MONGODB_URI=mongodb+srv://meritshm9:Defence%4021@cluster0.8ofq6ud.mongodb.net/?appName=Cluster0
DB_NAME=file_transfer_app

# Flask Configuration
FLASK_ENV=development
SECRET_KEY=file-transfer-secret

# Server Configuration
UDP_DISCOVERY_PORT=8888
TCP_BASE_PORT=9000
BUFFER_SIZE=8192
